#maze {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.cell {
    border: solid;
    border-color: black;
    border-width: 5px;

    animation-duration: 0s;
    animation-fill-mode: forwards;
}

/* color: var(--mycolor)
<sx style="--mycolor:red;"> */

@keyframes path {
    from {
        background-color: white; 
    }
    to {
        background-color: skyblue;
    }
}

@keyframes explore {
    from {
        background-color: white; 
    }
    to {
        background-color: yellow;
    }
}

.player{
    background-color: blue;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: auto;    
}
