$unvisited: white;
$visited: skyblue;
$explored: rgb(245, 245, 132);

$player: blue;
$background: rgb(205, 205, 236);
$nav-background: rgb(0, 67, 109);
$grid: rgb(6, 24, 36);

$font: 'system-ui';

* {
    margin: 0;
    padding: 0;
}

h3 {
    font-family: $font;
}

body {
    font-family: $font;
    color: white;
    background-color: $background;
}

.info {
    display: flex;
    flex-direction: column;
}

button {
    font-family: $font;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    width: 160px;
    height: 30px;
    transition: 'width 0.25s';

    &:hover {
        width: 165px;
        background-color: lightblue;
        cursor: pointer;
    }
}

select {
    font-family: $font;
    width: 160px;
    height: 30px;
    border-radius: 4px;
}

a {
    color: white;

    &:hover {
        color: lightgray;
    }
}

.main-container {
    display: flex;
    height: 100%;

    .maze-container {
        margin: auto;
        padding: 10px;

        #maze {
            border-collapse: collapse;

            .cell {
                border: solid;
                border-color: $grid;
                border-width: 5px;
            }
        }
    }

    .sidebar {
        width: 20%;
        background-color: $nav-background;
        display: flex;
        flex-direction: column;

        .nav-container {
            display: flex;
            flex-direction: column;
            
        
            .nav-heading{
                margin-top: 10px;
                margin-right: auto;
                margin-left: auto;
                font-size: 50px;
            }

            .nav-options {
                margin-right: auto;
                margin-left: auto;
                display: flex;
                flex-direction: column;

                div {
                    padding-top: 10px;
                    padding-right: 10px;
                    margin-right: auto;
                    margin-left: auto;
                }

                #count {
                    font-size: 90px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        .inst {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
        
            div {
                display: flex;
                margin-bottom: 5px;
                margin-right: 10px;
        
                div {
                    width: 25px;
                    height: 25px;
                }
            }
        
            & div:nth-child(1) { div { animation: clear forwards; } }
            & div:nth-child(2) { div { animation: path forwards; } }
            & div:nth-child(3) { div { animation: path forwards; } }
            & div:nth-child(4) { div { animation: explore forwards; } }
            & div:nth-child(5) { div { animation: target 2s infinite; } }
        }
    }
}

@media (max-width: 1000px) {
    .main-container {
        flex-direction: column;

        .sidebar {
            flex-direction: column;
            width: 100%;

            .nav-container {
                flex-direction: row;
                justify-content: space-between;

                .nav-heading{
                    margin-top: 0px;
                    font-size: 35px;
                }
            
                .nav-options {
                    flex-direction: row;

                    #count {
                        padding-top: 0px;
                        font-size: 30px;
                    }
                }
            }

            .inst {
                flex-direction: row;
            
                div {
                    margin-right: 10px;
                }
            }
        }
    }

    button {
        width: 100px;
    
        &:hover {
            width: 100px;
        }
    }
}

.player{
    background-color: $player;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: auto;    
}

@keyframes path {
    from {
        background-color: $unvisited; 
    }
    to {
        background-color: $visited;
    }
}

@keyframes explore {
    from {
        background-color: $unvisited; 
    }
    to {
        background-color: $explored;
    }
}

@keyframes clear {
    to {
        background-color: $unvisited;
    }
}

@keyframes target {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: lawngreen;
    }
}
