* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
    color: white;
    background-color: rgb(205, 205, 236);
}

button {
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    transition: 'width 0.25s'
}

button:hover {
    width: 125px;
    background-color: lightblue;
    cursor: pointer;
}

select {
    height: 30px;
    border-radius: 4px;
}

.main-container {
    display: flex;
    height: 100%;

    .maze-container {
        margin: auto;
        padding: 10px;

        #maze {
            border-collapse: collapse;

            .cell {
                border: solid;
                border-color: rgb(6, 24, 36);
                border-width: 5px;
            }

            .player{
                background-color: blue;
                display: block;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                margin: auto;    
            }
        }
    }

    .nav-container {
        width: 20%;
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 67, 109);
    
        .nav-heading{
            margin-top: 50px;
            margin-right: auto;
            margin-left: auto;
            font-size: 50px;
        }

        .nav-options {
            margin-right: auto;
            margin-left: auto;
            display: flex;
            flex-direction: column;

            div {
                padding-top: 10px;
                padding-right: 10px;
                margin-right: auto;
                margin-left: auto;
            }

            #count {
                font-size: 90px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

@media (max-width: 1000px) {
    .main-container {
        flex-direction: column;

        .nav-container {
            flex-direction: row;
            height: 8%;
            width: 100%;
            justify-content: space-between;

            .nav-heading{
                margin-top: 0px;
                font-size: 35px;
            }
        
            .nav-options {
                flex-direction: row;

                #count {
                    padding-top: 0px;
                    font-size: 30px;
                }

                button {
                    border: none;
                    border-radius: 4px;
                    width: 100px;
                    height: 30px;
                }
                
                button:hover {
                    background-color: lightblue;
                    cursor: pointer;
                }
            }
        }    
    }
}

@keyframes path {
    from {
        background-color: white; 
    }
    to {
        background-color: skyblue;
    }
}

@keyframes explore {
    from {
        background-color: white; 
    }
    to {
        background-color: rgb(245, 245, 132);
    }
}

@keyframes clear {
    to {
        background-color: white;
    }
}

@keyframes target {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: lawngreen;
    }
}
