$unvisited: white;
$visited: skyblue;
$explored: rgb(245, 245, 132);

$player: blue;
$background: rgb(205, 205, 236);
$nav-background: rgb(0, 67, 109);
$grid: rgb(6, 24, 36);

$font: 'system-ui';

body {
    font-family: $font;
    color: white;
    background-color: $background;
}

button {
    width: 198px;

    &:hover {
        background-color: lightskyblue;
    }
}

a {
    color: aqua;

    &:hover {
        color: gray;
    }
}

#maze {
    margin-top: 45px;

    .cell {
        border: solid;
        border-color: $grid;
        border-width: 5px;
    }
}

.player{
    background-color: $player;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: auto;    
}

.navbar {
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.nav-head {
    display: flex;
    flex-direction: column;

    div:nth-child(1) {
        font-size: 40px;
    }
    div:nth-child(2) {
        font-size: 20px;
    }
    div:nth-child(3) {
        font-size: 80px;
    }
}

.navbar-toggler {
    width: 50px;
    padding: 0%;
    padding-top: 2px;;
}

.navigation {
    background-color: $nav-background;
}

li {
    display: flex;

    div {
        width: 25px;
        height: 25px;
    }

    p {
        margin-left: 5px;
    }
}
#unvisited { animation: clear forwards; }
#current { animation: path forwards; }
#visited { animation: path forwards; }
#explored { animation: explore forwards; }
#target { animation: target 2s infinite; }

@media only screen and (max-width: 1000px) {
    .navbar {
        flex-direction: row;
        height: auto;
    }

    .nav-head {
        flex-direction: row;
        div:nth-child(1) {
            font-size: 20px;
        }
        div:nth-child(2) {
            margin-left: 20px;
            margin-right: 10px;
            margin-top: 5px;
            font-size: 15px;
        }
        div:nth-child(3) {
            margin-top: 5px;
            font-size: 15px;
        }
    }

    #maze {
        margin-top: 15px;
    }
}

@keyframes path {
    from {
        background-color: $unvisited; 
    }
    to {
        background-color: $visited;
    }
}

@keyframes explore {
    from {
        background-color: $unvisited; 
    }
    to {
        background-color: $explored;
    }
}

@keyframes clear {
    to {
        background-color: $unvisited;
    }
}

@keyframes target {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: lawngreen;
    }
}
