#maze {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.cell {
    border: solid;
    border-color: black;
    border-width: 5px;
}

/* color: var(--mycolor)
<sx style="--mycolor:red;"> */

@keyframes path {
    from {
        background-color: white; 
    }
    to {
        background-color: skyblue;
    }
}

@keyframes explore {
    from {
        background-color: white; 
    }
    to {
        background-color: yellow;
    }
}

@keyframes clear {
    to {
        background-color: white;
    }
}

@keyframes target {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: lawngreen;
    }
}

.player{
    background-color: blue;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: auto;    
}
